.name {
    font-size: 30px;
  }

nav {
    font-size: 15px;
    color: gray;
    border-style: solid;
    border-width: 2px;
}

pre {
    color: rgb(168, 25, 54, 0.5);
}
#lang_section {
    color:rgb(95, 158, 160)
}